@model AdminPanelVM

<div class="panel shadow-l p64-r vbox gap12">
    <h1 class="m0 text-center">Yönetici Paneli</h1>
    <div class="p48-r hbox wrap jc-c gap24">

        <a asp-action="Listele" asp-controller="Kategori" class="btn2 vbox jc-c ai-c w256 h256 gap24 panel">
            <span class="text-xxl bold">Kategoriler</span>
            <span class="text-xxxl bold">@Model.KategoriSayisi</span>
            <span class="fa fa-triangle-circle-square icon96"></span>
        </a>

        <a asp-action="Listele" asp-controller="Urun" class="btn2 vbox jc-c ai-c w256 h256 gap24 panel">
            <span class="text-xxl bold">Ürünler</span>
            <span class="text-xxxl bold">@Model.UrunSayisi</span>
            <span class="fa fa-shopping-bag icon96"></span>
        </a>

        <a asp-action="Listele" asp-controller="Siparis" class="btn2 vbox jc-c ai-c w256 h256 gap24 panel">
            <span class="text-xxl bold">Siparişler</span>
            <div class="hbox jc-c ai-c gap12">
                <span class="text-xxxl bold">@Model.SiparisSayisi</span>
                <span class="text-xxxl bold color-primary">(@Model.OnemliSiparisSayisi)</span>
            </div>
            <span class="fa fa-money-check-dollar icon96"></span>
        </a>

        <a asp-action="Listele" asp-controller="Kullanici" class="btn2 vbox jc-c ai-c w256 h256 gap24 panel">
            <span class="text-xxl bold">Kullanıcılar</span>
            <div class="hbox jc-c ai-c gap12">
                <span class="text-xxxl bold">@Model.KullaniciSayisi</span>
                <span class="text-xxxl bold color-primary">(@Model.AdminSayisi)</span>
            </div>
            <span class="fa fa-users icon96"></span>
        </a>

    </div>
</div>