@model SepetVM

<div class="panel p24-r vbox gap36 as-s">

    <h1 class="m0 text-center">Sepet</h1>

    <table class="table panel p16">

        <thead>
            <tr>
                <th class="color-primary text-l w90p">Ürün</th>
                <th class="color-primary text-l text-nowrap">
                    Fiyat <span class="fa fa-multiply color-primary mh12"></span> Adet
                </th>
                <th class="color-primary text-l">Kaldır</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <a asp-action="Urun" asp-controller="Magaza" asp-route-id="@item.Id" class="text-nodec hbox ai-c gap12">
                            <img src="~/@item.KapakUrl" alt="kapak" class="w64" />
                            <div class="text-nowrap bold">@item.Baslik</div>
                            <div class="text-nowrap">@item.Model</div>
                        </a>
                    </td>
                    <td class="text-nowrap text-l text-right">
                        @item.BirimFiyat.ToString("F2") TL <span class="fa fa-multiply text-l mh12"></span> @item.Adet
                    </td>
                    <td>
                        <div class="hbox jc-c ai-c gap4">
                            <form asp-action="SepettenKaldir" method="post">
                                <input name="urunId" value="@item.Id" hidden />
                                <button type="submit" class="fa fa-trash-alt text-xxl btn2-danger p8"></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }

        </tbody>

    </table>
    @if (Model.Items.Count > 0)
    {
        <div class="hbox jc-end gap12">
            <div class="as-end ai-c panel hbox gap24 p8 border2">
                <span class="text-l">Toplam</span>
                <span class="text-xxl bold">@Model.Toplam TL</span>
            </div>
            <a asp-action="OdemeBilgisi" class="btn-primary ph24 text-l bold">Siparişi Tamamla</a>
        </div>
    }

</div>
