@model UrunVM

<div class="panel shadow-l vbox jc-c ai-s as-s p32-r gap24-r">
    <span id="model-elm" hidden data-urun-id="@Model.Id"></span>
    <h1 class="m0 text-center">@Model.Baslik</h1>
    <div class="hbox-r800 gap36-r p16-r">
        <div id="urun-img-box" class="vbox jc-start ai-c grow w50p-r800">
            <img class="w100p p16 panel" src="~/@Model.KapakUrl" alt="resim" />
        </div>

        <div class="vbox ai-start gap36-r grow w50p-r800">
            <h2 class="m0">@Model.Model</h2>

            <div class="vbox ai-start panel p16 gap12">
                @if (Model.IndirimYuzdesi > 0)
                {
                    <div class="hbox ai-c gap12">
                        <span class="strike text-l">@Model.Fiyat.ToString("F2") TL</span>
                        <span class="text-l">(@(Model.IndirimYuzdesi)%)</span>
                    </div>
                }
                <span class="text-xxl bold color-primary">@Model.IndirimliFiyat TL</span>
            </div>

            <div class="panel p16">
                <button id="istek-btn" onclick="onIstekPressed();" class="btn2-danger ph8 pv4">
                    İstek Listesine
                    Ekle
                </button>
            </div>

            <div id="sepete-ekle-div" class="hbox-r500 gap48-r ai-c jc-c panel p16 hide">
                <span class="hbox gap8 ai-c jc-c">
                    <button onclick="azalt();" class="fa fa-minus btn2"></button>
                    <span id="adet">1</span>
                    <button onclick="arttir();" class="fa fa-plus btn2"></button>
                </span>
                <button onclick="sepeteEkle();" class="btn-primary ph36 pv12 text-l">
                    Sepete Ekle
                </button>
            </div>

            <div id="sepete-git-div" class="hbox-r500 gap48-r ai-c jc-c panel p16 hide">
                <button onclick="sepeteGit();" class="btn-success ph36 pv12 text-l">
                    Sepete Git
                </button>
            </div>

            <div class="panel vbox p16 gap12 as-s">
                <h3 class="m0">Açıklama</h3>
                <p class="m0">
                    @Model.Aciklama
                </p>
            </div>

            <div class="panel vbox p16 gap12 as-s">
                <h3 class="m0">Kargo</h3>
                <p class="m0">@Model.KargoBilgisi</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/urunSafyasi.js"></script>
}