@inject SignInManager<Kullanici> signInManager
@inject UserManager<Kullanici> userManager
@inject KategoriManager kategoriManager

@{
    var kategoriler = await kategoriManager.GetAllAsync();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parfüm Sepeti</title>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/mhy.css">
</head>

<body>
    <div class="vignette"></div>

    <header class="panel">
        <div id="logo-div" class="hbox">
            <a asp-action="Anasayfa" asp-controller="Magaza" class="vbox jc-c ai-c logo text-xxxl text-nowrap ph16 nav-link color-primary"
               id="logo">
                Parfüm Sepeti
            </a>
        </div>

        <form id="search-form" class="p12 hbox">
            <div class="inputbox hbox grow">
                <input class="input ph12 grow" type="search"
                       placeholder="ara..." />
                <button type="submit"
                        class="fa fa-search nav-link ph8 text-l"></button>
            </div>
        </form>

        <div id="header-menu">
            @if (signInManager.IsSignedIn(User))
            {
                <form method="post" class="hbox jc-s ai-s" asp-action="Cikis" asp-controller="Kullanici">
                    <button type="submit" class="nav-link text-l ph16">Çıkış</button>
                </form>
            }
            else
            {
                <a class="nav-link text-l ph16 hbox ai-c jc-c" asp-action="Giris" asp-controller="Kullanici">Giriş</a>
                <a class="nav-link text-l ph16 hbox ai-c jc-c" asp-action="Kaydol" asp-controller="Kullanici">Kaydol</a>
            }
            @if (User.IsInRole("admin"))
            {
                <a class="fa fa-tools color-primary nav-link text-l ph16 hbox ai-c jc-c" asp-action="Panel" asp-controller="Admin"></a>
            }
            <button class="fa fa-user nav-link text-l ph16"></button>
            <button class="fa fa-cart-shopping nav-link text-l ph16"></button>
        </div>
    </header>

    <nav class="hbox jc-se panel2 wrap shadow-b-l">

        <a asp-action="Yeni"
           asp-controller="Magaza"
           class="nav-link ph16 pv12 grow hbox jc-c ai-c">
            Yeni
        </a>
        <a asp-action="Indirim"
           asp-controller="Magaza"
           class="nav-link ph16 pv12 grow hbox jc-c ai-c">
            İndirim
        </a>

        @foreach (var kategori in kategoriler)
        {
            <a asp-action="Kategori" asp-controller="Magaza" asp-route-id="@kategori.Id" class="nav-link ph16 pv12 grow hbox jc-c ai-c">
                @kategori.Isim
            </a>
        }
    </nav>

    <main class="grow m64-r vbox ai-c">
        @RenderBody()
    </main>

    <footer class="vbox gap64 panel">
        <div class="vbox gap24 pv16">
            <div class="hbox jc-c logo text-xxxl color-primary text-nowrap">
                Parfüm Sepeti
            </div>
            <nav class="hbox jc-c wrap gap36">
                <a class="nav-link text-xxxl fab fa-github" href="#"></a>
                <a class="nav-link text-xxxl fab fa-facebook" href="#"></a>
                <a class="nav-link text-xxxl fab fa-instagram" href="#"></a>
                <a class="nav-link text-xxxl fab fa-twitter" href="#"></a>
                <a class="nav-link text-xxxl fab fa-snapchat" href="#"></a>
            </nav>
        </div>

        <div class="hbox jc-se ai-start wrap gap36 p16 panel2">
            <div class="vbox gap8">
                <h3 class="m0">Kategoriler</h3>
                <ul class="li-no-style p0 m0">
                    @foreach (var kategori in kategoriler)
                    {
                        <li>
                            <a asp-action="Kategori" asp-controller="Magaza" asp-route-id="@kategori.Id" class="nav-link">
                                @kategori.Isim
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="vbox gap8">
                <h3 class="m0">Kurumsal</h3>
                <ul class="li-no-style p0 m0">
                    <li><a class="nav-link" href="#">Hakkimizda</a></li>
                    <li><a class="nav-link" href="#">Magazamiz</a></li>
                    <li><a class="nav-link" href="#">Hesabiniz</a></li>
                    <li><a class="nav-link" href="#">Inidirm Kuponlari</a></li>
                </ul>
            </div>

            <div class="vbox gap8">
                <h3 class="m0">Tuketici Servisleri</h3>
                <ul class="li-no-style p0 m0">
                    <li><a class="nav-link" href="#">Kargo Bilgileri</a></li>
                    <li><a class="nav-link" href="#">Iade Bilgileri</a></li>
                </ul>
            </div>

            <div class="vbox gap8">
                <h3 class="m0">Daha Fazla Bilgi</h3>
                <ul class="li-no-style p0 m0">
                    <li><a class="nav-link" href="#">Gizlilik</a></li>
                    <li><a class="nav-link" href="#">Cookie</a></li>
                    <li><a class="nav-link" href="#">Sorumluluklar</a></li>
                    <li><a class="nav-link" href="#">Baglanti Kur</a></li>
                </ul>
            </div>
        </div>

        <div class="hbox wrap gap36 jc-se">
            <div class="odeme-secenegi">
                <span class="visa"></span>
            </div>
            <div class="odeme-secenegi">
                <span class="paypal"></span>
            </div>
            <div class="odeme-secenegi">
                <span class="mastercard"></span>
            </div>
            <div class="odeme-secenegi">
                <span class="maestro"></span>
            </div>
            <div class="odeme-secenegi">
                <span class="applepay"></span>
            </div>
        </div>

        <div class="hbox jc-c ai-c pv12">
            © 2022 Mehmet Hakkı YILDIZ
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>