@model AdminSiparisListeleVM

<div class="panel shadow-l as-s p64-r vbox gap36">
    <div class="hbox jc-sb gap12">
        <div>
            <a asp-action="Panel" asp-controller="Admin" class="fa fa-arrow-left text-xxl bold ph12 pv8 btn2"></a>
        </div>

        <h1 class="m0 text-center">Siparişler</h1>

        <div>
        </div>
    </div>

    <table class="table panel p16">
        <thead>
            <tr>
                <th class="">Ürünler</th>
                <th class="">Toplam</th>
                <th class="">Kullanıcı</th>
                <th class="text-nowrap">Oluşturma Tarihi</th>
                <th class="text-nowrap">Ödeme Durumu</th>
                <th class="text-nowrap">Kargo Durumu</th>
                <th class="">Detaylar</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var siparis in Model.Items)
            {
                var odendi = siparis.OdemeDurumu == OdemeDurumu.ODENDI;
                var gonderildi = siparis.KargoDurumu == KargoDurumu.GONDERILDI;
                
                <tr>
                    <td class="w90p">
                        <div class="vbox gap16 p12">

                            @foreach (var oge in siparis.Ogeler)
                            {
                                <div class="hbox jc-sb gap12">
                                    <span class="bold">@oge.UrunIsmi</span>
                                    <div class="hbox gap12 ai-c">
                                        <span class="text-nowrap">@oge.Fiyat.ToString("F2") TL</span>
                                        <span class="fa fa-multiply"></span>
                                        <span>@oge.Adet</span>
                                    </div>
                                </div>
                            }

                        </div>
                    </td>
                    <td class="text-center text-nowrap bold text-l">@siparis.Toplam TL</td>
                    <td class="text-center">@siparis.Kullanici</td>
                    <td class="text-center">@siparis.OlusuturmaTarihi.ToString()</td>
                    <td class="text-center">
                        <span class="@(odendi ? "border2-success color-success" : "border2-danger color-danger") p8">
                            @siparis.OdemeDurumu
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="@(gonderildi ? "border2-success color-success" : "border2-danger color-danger") p8">
                            @siparis.KargoDurumu
                        </span>
                    </td>
                    <td>
                        <div class="hbox jc-c ai-c gap4">
                            <a asp-action="Detay" asp-route-id="@siparis.Id" class="fa fa-list-ul text-xxl btn2 p8"></a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <partial name="_Paging" model="@Model" />
</div>
