@model AdminSiparisSilVM

@{
    var odendi = Model.OdemeDurumu == OdemeDurumu.ODENDI;
    var gonderildi = Model.KargoDurumu == KargoDurumu.GONDERILDI;
}

<form class="form" method="post">
    <h2>Sipariş Sil</h2>

    <input asp-for="Id" hidden />

    <div class="panel p12 hbox ai-c jc-sb">
        <span class="text-l">Kullanıcı</span>
        <span class="">@Model.Kullanici</span>
    </div>

    <div class="panel p12 hbox ai-c jc-sb">
        <span class="text-l">Oluşturma Tarihi</span>
        <span class="">@Model.OlusturmaTarihi</span>
    </div>

    <div class="panel vbox p16 gap24">

        @foreach (var oge in Model.Ogeler)
        {
            <div class="hbox jc-sb gap24 ai-c">
                <span class="text-l bold">@oge.Urun</span>
                <div class="hbox gap12 ai-c">
                    <span class="text-nowrap">@oge.Fiyat TL</span>
                    <span class="fa fa-multiply"></span>
                    <span>@oge.Adet</span>
                </div>
            </div>
        }

    </div>

    <div class="panel hbox border2 ai-c jc-sb p12">
        <span class="text-l">Toplam</span>
        <span class="text-xxl bold">@Model.Toplam TL</span>
    </div>

    <div class="panel p12 hbox ai-c jc-sb">
        <span class="text-l">Ödeme Durumu</span>
        <span class="@(odendi ? "border2-success color-success" : "border2-danger color-danger") p8">
            @Model.OdemeDurumu
        </span>
    </div>

    <div class="panel p12 hbox ai-c jc-sb">
        <span class="text-l">Kargo Durumu</span>
        <span class="@(gonderildi ? "border2-success color-success" : "border2-danger color-danger") p8">
            @Model.KargoDurumu
        </span>
    </div>

    <div class="hbox-r500 jc-end gap4">
        <a asp-action="Detay" asp-route-id="@Model.Id" class="btn2 ph12">Geri Dön</a>
        <button class="btn-danger text-l bold ph48 pv4 order-r500-first"
                type="submit">
            Siparişi Sil
        </button>
    </div>
</form>
